@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(message: String)

@main("Pixels") {

    <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/main.css")' />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script type='text/javascript' src='@routes.Assets.versioned("javascripts/hello.js")'></script>

    <h1>@message</h1>
    <h2>painting with brain</h2>

    <div id="wiki1">
    <p>
        Nonograms, also known as Picross or Griddlers, are picture logic puzzles
        in which cells in a grid must be colored or left blank according to numbers
        at the side of the grid to reveal a hidden picture. In this puzzle type, the
        numbers are a form of discrete tomography that measures how many unbroken
        lines of filled-in squares there are in any given row or column. For example,
        a clue of "4 8 3" would mean there are sets of four, eight, and three filled
        squares, in that order, with at least one blank square between successive groups.
    </p>
    </div>

    <div id="wiki2">
    <p>
        These puzzles are often black and white, describing a binary image, but they can
        also be colored. If colored, the number clues are also colored to indicate the
        color of the squares. Two differently colored numbers may or may not have a space
        in between them. For example, a black four followed by a red two could mean four
        black boxes, some empty spaces, and two red boxes, or it could simply mean four
        black boxes followed immediately by two red ones.
    </p>
    </div>
}
