@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(message: String)

@main("Pixels") {

    <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/main.css")' />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script type='text/javascript' src='@routes.Assets.versioned("javascripts/hello.js")'></script>

    <h1>@message</h1>
}
