@(controller:de.htwg.se.pixels.controller.Controller)

@getRow() = @{
    val rows = controller.gridUser.getRow
    rows
}

@getCol() = @{
  val cols = controller.gridUser.getCol
  cols
}

@getCellBorderId(row:Int, col:Int) =@{
  row + "" + col
}

@colorCell(row:Int, col: Int, color: String) =@{
  controller.colourCell(row, col, color)
}



@main("HTWG Sudoku") {
  <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/main.css")' />
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script type='text/javascript' src='@routes.Assets.versioned("javascripts/hello.js")'></script>

  <button class="yellowButton" type="button"></button>
  <button class="redButton" type="button"></button>
  <button class="blackButton" type="button"></button>
  <button class="whiteButton" type="button"></button>
  <button class="blueButton" type="button"></button>
  <button class="greenButton" type="button"></button>
  <div class="game">
    <div class="grid" id=size@{getRow()}>
    @for(row <- 1 until getRow()+1){
      @for(col <- 1 until getCol()+1){
          <div class="cell" id="@{getCellBorderId(row-1, col-1)}"></div>
        @if(col%getCol()==0){
          <br>
        }
      }
    }

    </div>
  </div>

}
