@(controller:de.htwg.se.pixels.controller.Controller)

@getRow() = @{
    val rows = controller.gridUser.getRow
    rows
}

@getCol() = @{
  val cols = controller.gridUser.getCol
  cols
}

@getCellBorderId(row:Int, col:Int) =@{
  row + "" + col
}



@main("HTWG Sudoku") {
  <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/main.css")' />
  <script type='text/javascript' src='@routes.Assets.versioned("javascripts/sudoku.js")'></script>

  <p>@{getRow()}</p>
  <p>@{getCol()}</p>

  <div class="game">
    <div class="grid" id=size@{getRow()}>
    @for(row <- 0 until getRow()){
      @for(column <- 0 until getRow()){
          <div class="cell" id="@{getCellBorderId(row, column)}"></div>
      }
    }

    </div>
  </div>

}
