@(controller:de.htwg.se.pixels.controller.Controller, gameNumber: Int)

@newGame() = @{
    controller.createGrid(gameNumber)
}

@getRow() = @{
    val rows = controller.gridUser.getRow
    rows
}

@getCol() = @{
  val cols = controller.gridUser.getCol
  cols
}


@getCellBorderId(row:Int, col:Int) =@{
  row + "" + col
}

@getLabels() = @{
    //val colLabels = new ColLabels(controller.gridSys.getCol)
    //colLabels.setAllColLabels(CreateLabels(pixels.gridSys).getColLabels())

    //val rowLabels = new RowLabels(pixels.gridSys.getRow)
    //rowLabels.setAllRowLabels(CreateLabels(pixels.gridSys).getRowLabels())
}

@main("HTWG Sudoku") {
  <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/main.css")' />
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script type='text/javascript' src='@routes.Assets.versioned("javascripts/hello.js")'></script>

  <button class="yellowButton" type="button">   </button>
  <button class="redButton" type="button">   </button>
  <button class="blackButton" type="button">   </button>
  <button class="whiteButton" type="button">   </button>
  <button class="blueButton" type="button">   </button>
  <button class="greenButton" type="button">  </button>

  <p>@getLabels()</p>


  <div class="game">
    <div class="grid" id=size@{getRow()}>
      @newGame()
    @for(row <- 1 until getRow()+1){
      @for(col <- 1 until getCol()+1){
          <div class="cell" id="@{getCellBorderId(row-1, col-1)}"></div>
        @if(col%getCol()==0){
          <br>
        }
      }
    }

    </div>
  </div>

    <p>@gameNumber</p>

}
