@(message: String)

@main("Help") {

    <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/main.css")' />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script type='text/javascript' src='@routes.Assets.versioned("javascripts/hello.js")'></script>

    <h1>@message</h1>

    <p>
        Solution of colour crosswords is a bit different from solution of black and white ones (as in black and white crosswords you don’t need to take into account the colour of the squares, the rules are a bit simpler) – that’s why so far we will talk only about black and white crosswords.

        To solve a Japanese crossword a person should look at each line/column separately, always moving to the next columns and lines. In so doing the process of solving in each line/column comes to the following:
    </p>
    <ol>
        <li>To define the squares which are sure to be painted (with any possible location of the groups) – so we paint them.</li>
        <li>To define the squares in which it is impossible to have painted squares – such squares are marked with a cross (sometimes a bullet point is used instead of a cross).</li>
        <li>To define the numbers, which location is already identified – usually these numbers are crossed out.</li>
    </ol>
    <p>
        Thus, gradually there are marks in the field which help to identify new marks step by step, then more and more marks until finally the crossword is completely solved (it should be noted that if even only one mark is put incorrectly – it may lead to a deadlock solution).
    </p>
}