@(message: String, style: String = "scala") 

@defining(play.core.PlayVersion.current) { version =>

<section id="top">
  <div class="wrapper">
      <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
  </div>
</section>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">HTWG Sudoku</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Play <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>

<div id="content" class="wrapper doc">
<article>

    <h1>Welcome to Pixels</h1>
    <p>
        Nonograms, also known as Picross or Griddlers, are picture logic puzzles
        in which cells in a grid must be colored or left blank according to numbers
        at the side of the grid to reveal a hidden picture. In this puzzle type, the
        numbers are a form of discrete tomography that measures how many unbroken
        lines of filled-in squares there are in any given row or column. For example,
        a clue of "4 8 3" would mean there are sets of four, eight, and three filled
        squares, in that order, with at least one blank square between successive groups.
    </p>

    <p>
        These puzzles are often black and white, describing a binary image, but they can
        also be colored. If colored, the number clues are also colored to indicate the
        color of the squares. Two differently colored numbers may or may not have a space
        in between them. For example, a black four followed by a red two could mean four
        black boxes, some empty spaces, and two red boxes, or it could simply mean four
        black boxes followed immediately by two red ones.
    </p>

    <p>
        Nonograms have no theoretical limits on size, and are not restricted to square layouts.
    </p>

</article>



</aside>

</div>
}
